{% extends "_base.html" %}

{% block title %}
{{ Contact.name }} Details
{% endblock title %}

{% block content %}
<div class="container">
    <div class="card">
        <div>
            <span>Name: </span>
            <span>{{ contact.name }}</span>
        </div>
        <div>
            <span>Number: </span>
            <span>{{ contact.number }}</span>
        </div>
        <div>
            <span>Emergency Contact: </span>
            <span>{% if contact.emergency %}
                    Yes
                  {% else %}
                    No
                  {% endif %}</span>
        </div>
        <div>
            <form action="{% url 'update' contact.pk %}">
                <button type="submit">Update</button>
            </form>

            <form action="{% url 'delete' contact.pk %}">
                <button type="submit">Delete</button>
            </form>
        </div>
    </div>
</div>
{% endblock content %}